.container{

    flex-direction: column;
    display: flex;
    width: 350px;
    height: 100%;
    border-radius: 4px;
    text-align: center;
    
    
    
    
    background-color: rgba(0, 0, 0, 0.5);
}
.titulo{
    color: white;

}
.frase{
    font-size: 1em;
    color: white;
   
    margin: 1 auto;
 
}
.footer{
    font-size: 14px;
    color: white;
    
}

.footer:hover{
    cursor:pointer;
    color: lime;
    transition: 0.5s;
}
